{
  "_comment": "This file (.prettierrc) defines formatting preferences for the project.",
  "semi": true,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 90,
  "tabWidth": 2,
  "quoteProps": "consistent",
  "endOfLine": "crlf"
}
